section {
    margin: 0;
}

ul {
    padding-left: 0;
}

.chat-right-side {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 62%;
    justify-content: flex-end;
}

.list {
    flex-grow: 1;
}

.chat-content__massege {
    flex: 1;
    min-height: 100px;
}

.chat-input__msg textarea {
    background-color: #eef4f5;
    border: none;
    border-radius: 30px;
    height: 49px;
    outline: none;
    padding: 5px 17px;
    resize: none;
    width: 95%;
}

.chat-input__msg {
    padding-left: 10%;
    width: 77%;
}

.chat-input__msg button {
    height: 50px;
    width: 70px;
}

.chat-content__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}