.user-content__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(../images/stores/defaultAvatar.png);
    background-position: -10px -10px;
}

.chat-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-input__msg button {
    height: 50px;
    width: 70px;
}

.chat-content__massege:nth-child(odd) .chat-content__container {
    order: -1;
}

.chat-content__massege:nth-child(even) .chat-content__container .chat-content__time {
    padding-left: 90%;
}

.chat-content__container {
    max-width: 60%;
}

.chat-content__time {
    padding-left: 0;
}

.chat-content__time p {
    color: #3f51b5;
    margin: 5px;
}

.chat-content__username p {
    color: #3f51b5;
    margin: 5px;
}

.chat-content__massege:nth-child(odd) .chat-content__container .chat-content__text {
    background-color: #eef4f5;
}

.chat-content__text {
    align-content: flex-start;
    background-color: #a58adc;
    border-radius: 10px;
    padding: 10px 8px 10px 8px;
    min-width: 200px;
}

.chat-content__text p {
    margin-left: 5px;
    margin-right: 5px;
}

.chat-content__massege:nth-child(odd) {
    justify-content: flex-end;
}

.chat-content__massege {
    display: flex;
}

.chat-right-side ul {
    margin-top: 0;
    padding-left: 14px;
}

.chat-content {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin-bottom: 15px;
    flex-direction: column;
}